.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/build/*
/.idea/*
/Student/Student.iml
/MPChartLib/build/
/MPChartLib/MPChartLib.iml
*.iml
/Student/*.apk
.idea/
build/
/Student/maindexlist.txt